<div class="intro">
<h1>{{this.portfolioTitle}}</h1>
<h2>{{this.blurb}}</h2>
<p class="social-media">
    <fa-icon class="fa-2x" [icon]="faGithub"></fa-icon>
    <fa-icon class="fa-2x" [icon]="faLinkedIn"></fa-icon>
    <fa-icon class="fa-2x" [icon]="faMedium"></fa-icon>
    <fa-icon class="fa-2x" [icon]="faEnvelope"></fa-icon>
</p>
</div>
<div id="experience">
    <app-main-section [sectionData]="experiencesSection"></app-main-section>
</div>
<div id="projects">
    <app-main-section [sectionData]="projectsSection"></app-main-section>
</div>
<div id="writings">
    <app-main-section [sectionData]="writingsSection"></app-main-section>
</div>