.intro{
    h1{
        font-size: 3.5rem;
        margin-bottom: 0rem;
    }
    h2{
        margin-top: .5rem;
        font-size: 1.5rem;
        width: 80%;
        
    }
    .social-media{
       fa-icon{
        padding-right: 3rem;
       }
    }
}