.heading{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
    h2{
        font-size: 2rem;
    }
}
.teams{
    display: flex;
    flex-direction: row;
    div{
        max-width: 50%;
        padding-right: 1rem;
    }
    overflow:scroll;
}
a{
    text-decoration: none;
    color:#0A3EA6;
    :hover{
      color:#4a67a1;
      font-style: italic;
      font-style: bold;
      font-weight: 800;
    }
    max-width: 50%;
}
