.heading{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
    h2{
        font-size: 2rem;
    }
    .link{
        
    }
}
.teams{
    display: flex;
    flex-direction: row;
    div{
        max-width: 50%;
        padding-right: 1rem;
    }
}